{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "Leaderboards Page" %} {% endblock %}
{% block description %} {% trans "Leaderboards - Overall and Per Quiz" %} {% endblock %}

{% block content %}
    <h1>{% trans "Leaderboards" %}</h1>

    {% if quizzes %}

        <table class="table table-bordered table-striped">
        <thead>
            <tr>
              <th>{% trans "Username" %}</th>
              <th>{% trans "Score" %}</th>
              <th>{% trans "Time" %}</th>
            </tr>
        </thead>

        <tbody>

            {% for value in quizzes.values %}
      
            <tr>
              <td>{{ value.user }}</td>
              <td>{{ value.score }}</td>
              <td>{{ value.seconds }}</td>
            </tr>
      
            {% endfor %}
      
        </tbody>
      
        </table>
        
    {% endif %}

{% endblock %}
