{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Leaderboards" %}{% endblock %}

{% block content %}
<h1>{% trans "All Leaderboards" %}</h1>
<p>{{ now }}</p>

  {% if competitive_old %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>{% trans "Quiz Leaderboards Link" %}</th>
          <th>{% trans "Num Participants" %}</th>
          <th>{% trans "DateTime Ended" %}</th>
        </tr>
      </thead>
      <tbody>
  			{% for quiz in competitive_old %}
  				<tr>
  				  <td><a href="{% url 'quiz_leaderboards' leaderboard=quiz.url %}">{{ quiz.title }}</a></td>
            <td>{{ quiz.get_leaderboard_count }}</td>
            <td>{{ quiz.end_time }}</td>
  				</tr>
  			{% endfor %}
  		</tbody>
    </table>
  {% endif %}

{% endblock %}
