{% load i18n %}
{% load quiz_tags %}

<div>
  <h2>{% trans "Leaderboards" %}</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
          <th>{% trans "Username" %}</th>
          <th>{% trans "Score" %}</th>
          <th>{% trans "Completion Time" %}</th>
          {% if user.is_superuser %}
            <th>{% trans "Email" %}</th>
          {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for entry in quiz.get_leaderboard %}
          <tr>
              <td>{{ entry.user.username }}</td>
              <td>{{ entry.score }}</td>
              <td>{{ entry.completion_time|smooth_timedelta }}</td>
              {% if user.is_superuser %}
                <td>{{ entry.user.email }}</td>
              {% endif %}
          </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
