{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Leaderboards Page" %} {% endblock %}
{% block description %} {% trans "Leaderboards Page" %} {% endblock %}

{% block content %}
{% if quizzes %}
    <h1>{% trans "Leaderboards" %}</h1>

    {% for q_name, q_value in quizzes.items %}
        <h2>{% trans q_name %}</h2>

        <table class="table table-bordered table-striped">
        
        {% for q_user, u_value in q_value.items %}
            <thead>
                <tr>
                    <th>{% trans "Username" %}</th>
                    <th>{% trans "Score" %}</th>
                    <th>{% trans "Completion Time" %}</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>{{ q_user }}</td>
                    <td>{{ u_value.score }}</td>
                    <td>{{ u_value.time|smooth_timedelta }}</td>
                </tr>
            </tbody>
        {% endfor %}

        </table>
    {% endfor %}

{% endif %}
{% endblock %}
