{% extends "base.html" %}
{% load i18n %}

{% load quiz_tags %}

{% block title %} {% trans "Progress Page" %} {% endblock %}
{% block description %} {% trans "User Progress Page" %} {% endblock %}

{% block content %}

  {% if saved %}

  <hr>

  <h1>{% trans "Previous quizzes" %}</h1>
  <p class="lead">
	{% trans "Below are the results of quizzes that you have taken." %}
  </p>

  <table class="table table-bordered table-striped">

	<thead>
	  <tr>
		<th>{% trans "Quiz Title" %}</th>
		<th>{% trans "Score" %}</th>
		<th>{% trans "Possible Score" %}</th>
		<th>%</th>
	  </tr>
	</thead>

	<tbody>

	  {% for quiz in saved %}
		
		{% if quiz.quiz.title in hide %}
			<tr>
				<td>{{ quiz.quiz.title }}</td>
				<td>{% trans "Hidden for Special Quiz Period" %}</td>
				<td>{% trans "Hidden for Special Quiz Period" %}</td>
				<td>{% trans "Hidden for Special Quiz Period" %}</td>
			</tr>
		{% else %}
			<tr>
				<td>{{ quiz.quiz.title }}</td>
				<td>{{ quiz.current_score }}</td>
				<td>{{ quiz.get_max_score }}</td>
				<td>{{ quiz.get_percent_correct }}</td>
			</tr>
		{% endif %}

	  {% endfor %}

	</tbody>

  </table>

  {% endif %}

  {% if cat_scores %}

	<h1>{% trans "Question Category Scores" %}</h1>

	{% if display_categories %}
		<p class="lead">
			{% trans "Below are the results of each category questions that you have taken." %}
		</p>
		<table class="table table-bordered table-striped">

			<thead>
			<tr>
				<th>{% trans "Category" %}</th>
				<th>{% trans "Correctly Answered" %}</th>
				<th>{% trans "Total Number of Questions" %}</th>
				<th>%</th>
			</tr>
			</thead>

			<tbody>

			{% for cat, value in cat_scores.items %}

			<tr>
				<td>{{ cat }}</td>
				<td>{{ value.0 }}</td>
				<td>{{ value.1 }}</td>
				<td>{{ value.2 }}</td>
			</tr>

			{% endfor %}

			</tbody>

		</table>
	{% else %}
		<p class="lead">
			{% trans "Per category questions performance currently disabled during special quiz evaluation." %}
		</p>
	{% endif %}

  {% endif %}

{% endblock %}