// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}


$ashes-orange: #e69710;
$ashes-bg: #4c4c4c;

$body-bg: #4c4c4c;
$body-color: #c1c1c1;

$input-bg: #fff;
$selection-bg: #666;
$theme-colors: (
   primary: $ashes-orange,
);

$navbar-dark-color:                 rgba($ashes-orange, .5);
$navbar-dark-hover-color:           rgba($ashes-orange, .75);
$navbar-dark-active-color:          $ashes-orange;
$navbar-dark-disabled-color:        rgba($ashes-orange, .25);
$navbar-dark-toggler-border-color:  rgba($ashes-orange, .1);

$link-color:                              $ashes-orange;
$link-decoration:                         none;
$link-hover-color:                        darken($link-color, 15%);
$link-hover-decoration:                   underline;

$list-group-bg: $selection-bg;
$list-group-color: $ashes-orange;
$list-group-disabled-bg: rgba($selection-bg, .25);
$list-group-disabled-color: rgba($ashes-orange, .25);

$card-bg: rgba($ashes-orange, .5);
$card-color: $ashes-bg;
$card-border-color: $selection-bg;
$card-text: #fff;

.bg-cover {
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.socialaccount_ballot ul {
    list-style: none;
    padding-left: 0;
}

.results .card {
    color: $body-color;
    background-color: #343a40;
    margin-top: 10px;
}

.results .card-body {
    color: $body-color;
    background-color: #343a40;
}

// Bootstrap file partials
@import "../../../node_modules/bootstrap/scss/bootstrap";
