{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}{% trans "All Quizzes" %}{% endblock %}

{% block content %}
	<h5>{% trans "Current Server DateTime: " %}{{ now }}</h5>

	{% if competitive %}
		<h2>{% trans "List of Competitive Quizzes" %}</h2>
		<table class="table table-bordered table-striped">

		<thead>
			<tr>
			<th></th>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Start DateTime" %}</th>
			<th>{% trans "End DateTime" %}</th>
			<th>{% trans "Num Questions" %}</th>
			<th>{% trans "Timer" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for entry in competitive %}
				<tr>
				{% if entry.taken %}
					<td>{% trans "Quiz Already Taken" %}</td>
				{% else %}
					<td><a href="{% url 'quiz_start_page' slug=entry.quiz.url %}">{% trans "Take Quiz" %}</a></td>
				{% endif %}
				<td>{{ entry.quiz.title|smooth_title }}</td>
				<td>{{ entry.quiz.start_time }}</td>
				<td>{{ entry.quiz.end_time }}</td>
				<td>{{ entry.quiz.get_max_score }}</td>
				{% if entry.quiz.timer > 0 %}
					<td>{{ entry.quiz.timer|smooth_timedelta }}</td>
				{% else %}
					<td>{% trans "Not Timed" %}</td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>

		</table>
	{% else %}
		<p>{% trans "There are currently no available Competitive Quizzes" %}.</p>
	{% endif %}

	{% if competitive_upcoming_count > 0 %}
		<h2>{% trans "List of Upcoming Competitive Quizzes" %}</h2>
		<table class="table table-bordered table-striped">

		<thead>
			<tr>
			<th></th>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Start DateTime" %}</th>
			<th>{% trans "End DateTime" %}</th>
			<th>{% trans "Num Questions" %}</th>
			<th>{% trans "Timer" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for quiz in competitive_upcoming %}
				<tr>
				<td>{% trans "Will Be Available on Start" %}</a></td>
				<td>{{ quiz.title|smooth_title }}</td>
				<td>{{ quiz.start_time }}</td>
				<td>{{ quiz.end_time }}</td>
				<td>{{ quiz.get_max_score }}</td>
				{% if quiz.timer > 0 %}
					<td>{{ quiz.timer|smooth_timedelta }}</td>
				{% else %}
					<td>{% trans "Not Timed" %}</td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>

		</table>
	{% endif %}

	<h2>{% trans "List of Generic Quizzes" %}</h2>
	{% if generic_new or generic_taken %}
		<table class="table table-bordered table-striped">

		<thead>
			<tr>
			<th></th>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Num Question" %}</th>
			<th>{% trans "Category" %}</th>
			<th>{% trans "Answer Reveal" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for quiz in generic_new %}
				<tr>
				<td><a href="{% url 'quiz_start_page' slug=quiz.url %}">{% trans "Take Quiz" %}</a></td>
				<td>{{ quiz.title|smooth_title }}</td>
				<td>{{ quiz.get_max_score }}</td>
				<td>{{ quiz.category }}</td>
				{% if quiz.answers_reveal_option == 1 %}
					<td>{% trans "After each question" %}</td>
				{% elif quiz.answers_reveal_option == 2 %}
					<td>{% trans "At end of quiz" %}</td>
				{% endif %}
				</tr>
			{% endfor %}
			{% for quiz in generic_taken %}
				<tr>
				<td><a href="{% url 'quiz_start_page' slug=quiz.url %}">{% trans "Take Again - Prev Score: " %}{{ generic_results|get_item:quiz.title }}{% trans "%" %}</a></td>
				<td>{{ quiz.title|smooth_title }}</td>
				<td>{{ quiz.get_max_score }}</td>
				<td>{{ quiz.category }}</td>
				{% if quiz.answers_reveal_option == 1 %}
					<td>{% trans "After each question" %}</td>
				{% elif quiz.answers_reveal_option == 2 %}
					<td>{% trans "At end of quiz" %}</td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>

		</table>

	{% else %}
		<p>{% trans "There are no available General Quizzes" %}.</p>
	{% endif %}

	{% if competitive_old_count > 0 %}
		<h2>{% trans "List of Expired Competitive Quizzes" %}</h2>
		<table class="table table-bordered table-striped">

		<thead>
			<tr>
			<th></th>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Start DateTime" %}</th>
			<th>{% trans "End DateTime" %}</th>
			<th>{% trans "Num Questions" %}</th>
			<th>{% trans "Timer" %}</th>
			</tr>
		</thead>

		<tbody>
			{% for quiz in competitive_old %}
				<tr>
				<td><a href="{% url 'quiz_start_page' slug=quiz.url %}">{% trans "Take Quiz" %}</a></td>
				<td>{{ quiz.title|smooth_title }}</td>
				<td>{{ quiz.start_time }}</td>
				<td>{{ quiz.end_time }}</td>
				<td>{{ quiz.get_max_score }}</td>
				{% if quiz.timer > 0 %}
					<td>{{ quiz.timer|smooth_timedelta }}</td>
				{% else %}
					<td>{% trans "Not Timed" %}</td>
				{% endif %}
				</tr>
			{% endfor %}
		</tbody>

		</table>
	{% endif %}

	{% if competitive_old_taken_count > 0 %}
		<h2>{% trans "List of Previously Completed Competitive Quizzes" %}</h2>
		<table class="table table-bordered table-striped">

		<thead>
			<tr>
			<th>{% trans "Title" %}</th>
			<th>{% trans "Performance" %}</th>
			<th>{% trans "My Results" %}</th>
			<th>{% trans "Leaderboards" %}</th>
			<th>{% trans "Quiz Stats" %}</th>
			<th>{% trans "Taken DateTime" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for result_table in competitive_old_taken %}
				<tr>
					<td>{{ result_table.quiz.title|smooth_title }}</td>
					<td>{{ result_table.percent }}{% trans "%" %}</td>
					<td><a href="{% url 'quiz_results' sitting_id=result_table.sitting.pk %}">{% trans "Your Results" %}</a></td>
					<td><a href="{% url 'quiz_leaderboards' leaderboard=result_table.quiz.pk %}">{% trans "Leaderboard" %}</a></td>
					<td><a href="{% url 'quiz_stats' quiz_id=result_table.quiz.pk %}">{% trans "Stats" %}</a></td>
					<td>{{ result_table.sitting.start }}</td>
				</tr>
			{% endfor %}
		</tbody>

		</table>

	{% endif %}

{% endblock %}
