{% extends 'base.html' %}
{% load i18n %}
{% load quiz_tags %}
{% block title %}
{{ quiz.title }}
{% endblock %}

{% block content %}
<h2>{{ quiz.title }}</h2>
<h3>{% trans "Category" %}: {{ quiz.category }}</h3>
{% if quiz.single_attempt or quiz.competitive %}
  <h4>{% trans "You will only get one attempt at this quiz" %}.</h4>
{% endif %}
{% if quiz.timer > 0 %}
  <h4>{% trans "This is a Timed Quiz! You will have "%}{{ quiz.timer|smooth_timedelta }}{% trans ". Timer will start when you hit 'Start Quiz'" %}</h4>
{% endif %}
<p>{{ quiz.description }}</p>
<p>
  <a href="{% url 'quiz_question' quiz_name=quiz.url %}">
	{% trans "Start Quiz" %}
  </a>
</p>
<h5>NOTE:<br>Some questions ask "Pick All that Apply". For those, the answer could be anywhere from 1 to All checkmared boxes.<br>
Do not assume that that only 1 checkbox is the correct answer.</h5>
{% endblock %}